@model IEnumerable<MVC_StudentManagementSystem.Models.DTO.StudentDto>


@{
}

<h1 class="mt-3">Student Information <a class="btn btn-secondary mybutton" asp-controller="Students" asp-action="Add">Add Student</a></h1>


<table class="table table-bordered">
    <thead>
        <tr>
            <th> Id </th>
            <th> FirstName </th>
            <th> LastName </th>
            <th> ContactNo </th>
            <th> Email </th>
            <th> Createdon </th>
            <th> Modifiedon </th>


        </tr>
    </thead>
    <tbody>

        @foreach (var student in Model)
        {
            <tr>
                <td> @student.Id </td>
                <td> @student.FirstName </td>
                <td> @student.LastName </td>
                <td> @student.ContactNo </td>
                <td> @student.Email </td>
                <td> @student.CreatedOn </td>
                <td> @student.ModifiedOn </td>
                <td>
                    <a asp-controller="Students" asp-action="Edit" asp-route-id="@student.Id"
                    class=" ="btn btn-light>Edit</a>

                </td>

            </tr>
        }
    </tbody>
</table>
